*{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

body{
	background-image: url(img/citas.jpg);
	background-size: cover;
	background-position: center;
}


.container{
	display: flex;
	width: 100%;
	height: 100vh;/*Toma el 100% de la pantalla*/
	justify-content: center;
	align-items: center;
}

form{
	display: flex;/*Junta el contenido*/
	flex-flow: column;/*Coloca el contenido en columna */
	background-color: white;
	width: 40%;
	height: 80%;
	padding: 20px;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(0,0,0,0.8) 0px 0px 50px;
	border-radius: 10px;
}

input, textarea{
	border: none;
	resize: none;
	outline: none; /*Borde interno*/
	padding: 5px 0px;
	width: 80%;
	margin: 15px;
	transition: all 300ms;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


input:focus, textarea:focus{
	border-bottom-color: #610061;
}


button{
	border: none;
	outline: none;
	background-color: #051759;
	padding: 15px;
	width: 200px;
	color: white;
	border-radius: 2px;
	box-shadow: rgba(0,0,0,0.7) 0px 0px 10px;
	margin: 20px 0px;
	cursor: pointer;
	transition: all 300ms;
}

button:hover{
	transform: scale(1.05);/*Incrementa de tamaño el boton*/
}